<!doctype html>
<html lang="pl">
    <head>
        <title><?= lang('Navigation.seoSiteTitle') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="/assets/stylesheet/site.min.css" />
    </head>
    <body>
        <div class="container">
            <div id="nav-menu" class="nav-menu-close">
                <a href="/">
                    <i class="fa fa-2x fa-home"></i>
                    <div class="bt-menu-desc"><?= lang('Navigation.navHome') ?></div>
                </a>
                <?php if ($user->logged): ?>
                    <div class="profile-area" id="logged_avatar">
                        <a href="/user/profile/{user.id}" class="bt-menu-desc">
                            <div><?= $user->username ?></div>
                        </a>
                    </div>
                    <a href="/user" class="bt-icon">
                        <i class="fa fa-2x fa-user"></i>
                        <div class="bt-menu-desc"><?= lang('Navigation.navProfile') ?></div>
                    </a>
                <?php endif; ?>
                <?php if ($user->logged): ?>
                    <a href="/logout" class="bt-icon">
                        <i class="fa fa-2x fa-sign-out"></i>
                        <div class="bt-menu-desc">
                            <?= lang('Navigation.navSignOut') ?>
                        </div>
                    </a>
                <?php else:?>
                    <a href="/" class="bt-icon">
                        <i class="fa fa-2x fa-sign-in"></i>
                        <div class="bt-menu-desc">
                            <?= lang('Navigation.navSignIn') ?>
                        </div>
                    </a>
                <?php endif;?>
                <?php if ($user->logged): ?>
                    <?php foreach($subscribeList as $forum): ?>
                        <a href="/forum/view/<?= $forum->code_name ?>" class="bt-icon">
                            <i class="fa fa-2x fa-connectdevelop"></i>
                            <div class="bt-menu-desc"><?= $forum->name ?></div>
                        </a>
                    <?php endforeach;?>
                    <a href="/library" class="bt-icon">
                        <i class="fa fa-2x fa-plus"></i>
                        <div class="bt-menu-desc"><?= lang('Navigation.navAddForum') ?></div>
                    </a>
                <?php else: ?>
                    <a href="/library" class="bt-icon">
                        <i class="fa fa-2x fa-book"></i>
                        <div class="bt-menu-desc"><?= lang('Navigation.navForums') ?></div>
                    </a>
                <?php endif;?>
            </div>
            <div class="side-body row">
                <div class="logo-text"><i><?= lang('Navigation.seoSiteTitle') ?></i></div>