<!doctype html>
<html lang="pl">
    <head>
        <title>{lang_main_MetaSiteTitle}</title>
        <meta property="og:title" content="Postarium" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{site_url}" />

        <meta http-equiv="Content-Type" content="text/html; charset=iso8859-2"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/kostka/stylesheet/normalize.css" />
        <link rel="stylesheet" href="/assets/kostka/stylesheet/skeleton.css" />
        <link rel="stylesheet" href="/assets/kostka/stylesheet/main.css" />
        <link rel="stylesheet" href="/assets/stylesheet/font-awesome.css" />

        <!-- Skrypty Javascript -->
        <script src="/assets/javascript/jquery.min.js"></script>
        <script src="/assets/javascript/main.js"></script>
    </head>
    <body>
        <div class="container">  
            <div class="side-body">