<div class="row">
    <div class="ten offset-by-one columns">
        <h4><?= lang('Library.Title') ?></h4>
        <p class="text-justify">
            <?= sprintf(
                    lang('Library.Description'),
                    lang('Library.Links.Forum'),
                    lang('Library.Links.Admin')
                ) ?>
        </p>
        <br>
    </div>
    <div class="twelve columns row">
        <?php if ($user->logged): ?>
            <div class="six columns">
                <h5 class="text-center"><?= lang('Library.SubscribedList') ?></h5>
                <div id="forumsListSubscribed" class="ten offset-by-one columns">
                    <?php foreach($forumsList->subscribed as $forum): ?>
                        <div class="item well well-hover row">
                            <?= $addItem($forum, false) ?>
                        </div>
                    <?php endforeach;?>
                    <?= sprintf(lang('Library.EmptyList'), empty($forumsList->subscribed) ? 'block' : 'none' )?>
                </div>
            </div>
            <div class="six columns">
                <h5 class="text-center"><?= lang('Library.UnSubscribedList') ?></h5>
                <div id="forumsListUnSubscribed" class="ten offset-by-one columns">
                    <?php foreach($forumsList->unSubscribed as $forum): ?>
                        <div class="item well well-hover row">
                            <?= $addItem($forum, true) ?>
                        </div>
                    <?php endforeach;?>
                    <?= sprintf(lang('Library.EmptyList'), empty($forumsList->unSubscribed) ? 'block' : 'none' )?>
                </div>
            </div>
        <?php else: ?>
            <div class="twelve columns row">
                <div id="forumsListAll" class="ten offset-by-one columns">
                    <?php foreach($forumsList->all as $forum): ?>
                        <div class="item well well-hover row">
                            <?= $addItem($forum, null) ?>
                        </div>
                    <?php endforeach;?>
                    <?= sprintf(lang('Library.EmptyList'), empty($forumsList->all) ? 'block' : 'none' )?>
                </div>
            </div>
        <?php endif; ?>
        <br>
    </div>
</div>