    
    <div class="ten offset-by-one columns">
      {if isset(browse[profile][0])}
        {foreach browse[profile] as profile}
          <div class="profile-area">
			{if profile->user_avatar !== ''}<img class="img-circle" src="{site_url}{profile->user_avatar}" />{endif}
			<p>{profile->user_name}</p>
		  </div>
          <br>
		  
		  {if isset(profile->user_desc)}
			  {if profile->user_desc !== ""}
			  <div>
				  <p>{lang_user_Desc}</p>
				  <div class="well">
					  <span><em>{profile->user_desc}</em></span>
					  <br>
				  </div>
				  <br>
			  </div>
			  <br>
			  {endif}
		  {endif}
        {/foreach}
          
          <div>
              <p>{lang_user_UserForums}</p>
              <div class="row">
               {if isset(browse[forums])}
                 {foreach browse[forums] as forum}
                  <div class="four columns no-margin well text-center">
                      <i class="fa fa-forum-set">{forum->forum_icon}</i>
                      <div class="bt-menu-desc">{forum->forum_title}</div>
                  </div>
                 {/foreach}
               {endif}
              </div>
          </div>
        
      {else}
        <div>{lang_user_UserNotVisible}</div>
      {endif}
	  
	  <br>
	  <br>
        
      {if isset(browse[dices][0])}
        <p>{lang_user_UserDices}</p>
      
    </div>	
	
	<div class="twelve columns row">
        {foreach browse[dices] as dice_data}
			<div class="one-third well column no-margin text-center dice-small-view">
				<a class="dice-title" href="{subsite_url}dices/view/{dice_data[roll_id]}/{dice_data[roll_token]}.html">
					<em>#{dice_data[dice_id]}</em> {dice_data[dice_name]}
				</a>
				<div class="dice-place{if ! in_array(dice_data[dice_type], dicesType)} dice-custom{endif}" {if in_array(dice_data[dice_type], dicesType)}data-number="{dice_data[dice_type]}"{endif} data-count="{dice_data[dice_count]}"></div>
				<div class="dice-type">{dice_data[dice_values]}</div>
			</div>
		{/foreach}
		</div>
	  {else}
		<div class="text-center"><em>{lang_user_NotFoundDices}</em></div>
	  {endif}
	  <br>
	  
    </div>